body {
  font-family: "Enriqueta", sans-serif !important;
  background-color: rgb(46, 46, 46) !important;
  color: azure !important;
}

section {
  margin: auto 200px !important;
}
h1,
h2,
h3 {
  text-align: center;
}
h3 {
  font-size: 1em !important;
}
.container {
  height: auto;
  display: flex;
  flex-flow: row wrap;
}

.article {
  padding: 10px;
  margin: 10px;
  width: 20%;
  min-height: 200px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 20px;
}
.article:hover {
  border: 3px solid;
}

.article-preview p {
  font-size: 0.9rem;
}
.article-content {
  margin: auto 150px !important;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 70%;
}

table tr td {
  padding: 10px !important;
}

.alert {
  position: fixed !important;
  bottom: 0;
  right: 0;
  width: 380px;
  height: 120px;
  background-color: rgba(197, 197, 197, 0.43) !important;
}

.close {
  border-radius: 10px !important;
  position: absolute;
  top: 0;
  right: 0;
}

.footer {
  margin-top: 50px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100% !important;
  min-height: 160px;
  background-color: #4a4a4a;
  color: white;
}

.inner ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.inner ul li {
  font-size: 1.1rem;
  text-decoration: none;
  padding: 10px;
}
.inner ul li a {
  color: white;
}
.inner ul li a:hover {
  color: rgb(46, 46, 46);
}
